main {
	padding: 3rem;
}

.navlink {
	border: 1px solid rgba($color: #000000, $alpha: 0.5);
	margin-top: 1rem;
	padding: 0 1rem;
	text-decoration: none;
	color: white;
	box-shadow: inset 0px 0px 100px #000000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	&:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
	transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
