main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 5rem;
	animation: fadeIn 5s;
	-webkit-animation: fadeIn 5s;
}

.subtitle {
	opacity: 0;
	font-size: 2rem;
	animation: fadeIn 3s ease-in-out 3s forwards;
	-webkit-animation: fadeIn 3s ease-in-out 3s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate(-500px);
		-webkit-transform: translate(-500px);
		-moz-transform: translate(-500px);
		-ms-transform: translate(-500px);
		-o-transform: translate(-500px);
	}
	100% {
		opacity: 1;
	}
}
